.countdown {
    margin-top: 5px;
}

#homeAssassinContainer {
    margin-top: 2em;
    margin-bottom: 1em;
}

.Footer {
    margin-top: 5em;
}

#regLink {
    justify-self: center;
    font-weight: 700;
    letter-spacing: 0.5px;
}
